body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg-image {
    background-image: url('assets/starbucks-japan.png');
    filter: blur(2px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-container {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
}

#drink-type {
    padding: 10px;
    margin-bottom: 20px;
}

#fetch-button {
    padding: 10px 20px;
    background-color: #00704A; /* Starbucks green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bg-image-no-blur {
    filter: none;
    -webkit-filter: none;
}

#data-container {
    width: 250px;
    height: 456px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('assets/menu.png') no-repeat;
    background-size: contain;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    overflow: auto;
}

.menu-item {
    text-align: center;
    width: 100%;
    margin: 5px 0;
    font-size: 0.8em;
}
